
.vs/CreditTrackerApp/DesignTimeBuild/.dtbcache.v2
.vs/CreditTrackerApp/FileContentIndex/0652bf08-3781-438f-8580-6e6591258673.vsidx
.vs/CreditTrackerApp/FileContentIndex/1979bbcb-eb10-4291-b288-e03779485fc8.vsidx
.vs/CreditTrackerApp/FileContentIndex/b30a2c63-32b6-46ab-bace-9ec31da5a905.vsidx
.vs/CreditTrackerApp/FileContentIndex/e7cbddf1-a89d-432a-a27e-ec189308b216.vsidx
.vs/CreditTrackerApp/FileContentIndex/ed51154f-2f09-4a66-a9e0-d24b8bc89f05.vsidx
.vs/CreditTrackerApp/FileContentIndex/read.lock
.vs/CreditTrackerApp/v17/.futdcache.v2
.vs/CreditTrackerApp/v17/.suo
.vs/ProjectEvaluation/credittrackerapp.metadata.v7.bin
.vs/ProjectEvaluation/credittrackerapp.projects.v7.bin
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.g.targets
API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
API/obj/Debug/net6.0/API.AssemblyInfo.cs
API/obj/Debug/net6.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net6.0/API.assets.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.GlobalUsings.g.cs
API/obj/project.assets.json
API/obj/project.nuget.cache
.vs/CreditTrackerApp/FileContentIndex/e7cbddf1-a89d-432a-a27e-ec189308b216.vsidx
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Core.csproj.nuget.g.targets
Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/obj/Debug/net6.0/Core.AssemblyInfo.cs
Core/obj/Debug/net6.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net6.0/Core.assets.cache
Core/obj/Debug/net6.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/net6.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/Debug/net6.0/Core.GlobalUsings.g.cs
Core/obj/project.assets.json
Core/obj/project.nuget.cache
DTOs/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DTOs/obj/Debug/net6.0/DTOs.AssemblyInfo.cs
DTOs/obj/Debug/net6.0/DTOs.AssemblyInfoInputs.cache
DTOs/obj/Debug/net6.0/DTOs.assets.cache
DTOs/obj/Debug/net6.0/DTOs.csproj.AssemblyReference.cache
DTOs/obj/Debug/net6.0/DTOs.GeneratedMSBuildEditorConfig.editorconfig
DTOs/obj/Debug/net6.0/DTOs.GlobalUsings.g.cs
DTOs/obj/DTOs.csproj.nuget.dgspec.json
DTOs/obj/DTOs.csproj.nuget.g.props
DTOs/obj/DTOs.csproj.nuget.g.targets
DTOs/obj/project.assets.json
DTOs/obj/project.nuget.cache
Repository/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Repository/obj/Debug/net6.0/Repository.AssemblyInfo.cs
Repository/obj/Debug/net6.0/Repository.AssemblyInfoInputs.cache
Repository/obj/Debug/net6.0/Repository.assets.cache
Repository/obj/Debug/net6.0/Repository.csproj.AssemblyReference.cache
Repository/obj/Debug/net6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Repository/obj/Debug/net6.0/Repository.GlobalUsings.g.cs
Repository/obj/project.assets.json
Repository/obj/project.nuget.cache
Repository/obj/Repository.csproj.nuget.dgspec.json
Repository/obj/Repository.csproj.nuget.g.props
Repository/obj/Repository.csproj.nuget.g.targets
Service/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Service/obj/Debug/net6.0/Service.AssemblyInfo.cs
Service/obj/Debug/net6.0/Service.AssemblyInfoInputs.cache
Service/obj/Debug/net6.0/Service.assets.cache
Service/obj/Debug/net6.0/Service.csproj.AssemblyReference.cache
Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net6.0/Service.GlobalUsings.g.cs
Service/obj/project.assets.json
Service/obj/project.nuget.cache
Service/obj/Service.csproj.nuget.dgspec.json
Service/obj/Service.csproj.nuget.g.props
Service/obj/Service.csproj.nuget.g.targets
.vs/CreditTrackerApp/FileContentIndex/e7cbddf1-a89d-432a-a27e-ec189308b216.vsidx
